.App {
  margin: 23px;
}

body {
  background-color: #282c34;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  font-size: calc(26px + 2vmin);
  color: #e7d63e;
  border-bottom: 1px solid #686768
}

button {
  right: 0px;
  position: absolute;
  margin-right: 23px;
  width: 48px;
  font-size: calc(9px + 2vmin);
  padding: 0px;
  border-radius: 13%;
  background-color: #706f72;
  color: #ffffff;
  border: none;
  height: 27px;
}

ul {
  list-style-type: circle;
}
li {
  min-height: 4vh;
  font-size: 22px;
  padding: 11px;
  border-bottom: 1px solid #686768;
}

input {
  border: 0px;
  background-color: transparent;
  color: white;
  height: 22px;
  font-size: 22px;;
}

input:focus {
    outline-width: 0;
}
